<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="container">
      
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "" %></a></h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class="divider"></li>
            <% if user_signed_in? %>
              <li class="divider"></li>
              <li><%= link_to "Signed in as #{current_user.email}", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li> 
              <li class="divider">
              <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %> 
          </ul>
        </section>
      </nav>

      <% flash.each do |name, msg| %>
        <% if name == "alert" %>
          <%= content_tag :div, :class => "alert-box alert radius", :data => {:alert => nil} do %>
            <%= flash[:alert] %>
            <a href="#" class="close">&times;</a>
          <% end %>
        <% else %>
          <%= content_tag :div, :class => "alert-box success radius", :data => {:alert => nil} do %>
            <%= flash[:notice] %>
            <a href="#" class="close">&times;</a>
          <% end %>
        <% end %>
      <% end %>

      <%= yield %>
      <%= javascript_include_tag "application" %>
    </div>
  </body>
</html>
